@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили для html и body */
html,
body {
  min-height: 100vh;
}

/* Центрирование основного контента */
.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 16px;
}

